<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{data.message}}</h5>
    <p class="card-text">{{data.info}}</p>
    <a href="{{data.link}}" class="btn btn-primary">Return</a>
  </div>
</div>