{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<div class="content__block">
  <div class="content">
    <div class="description">
      <strong class="action">Success</strong>
      <p class="result">{{info}}</p>
    </div>
    <div class="return">
      <a href="/product-list" class="button">Return</a>
    </div>
  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}