@use '../../lib/service.scss' as s;

.main {
    padding: 36px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 284px;
}

.return {
    align-self: flex-end;

    &:hover {
        opacity: 0.7;
        transition-duration: 0.7s;
    }
    &:focus {
        opacity: 0.7;
        transition-duration: 0.7s;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    max-width: 600px;
}

.title__text {
    font-size: s.space(5);
    color: s.color('lightWhite');
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 68px;
}

.content__form {
    border-bottom: 1px solid #808080;
}

.input { 
    font-size: 58px;
    font-weight: 600;
    max-width: 600px;
    text-align: center;
    color: s.color('lightWhite');

    &::placeholder {
        text-align: center;
    }
}

.button {
    background-color: #20D562;
    color: #121212;
    font-size: s.space(5);
    border-radius: 40px;
    padding: 20px 40px;

    &:hover {
        opacity: 0.7;
        transition-duration: 0.7s;
    }
    &:focus {
        opacity: 0.7;
        transition-duration: 0.7s;
    }
}