@use '../../lib/service.scss' as s;

.main {
    padding: 36px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}


.title__text {
    font-size: s.space(7);
    color: s.color('lightWhite');
}

.content__list {
    padding: 32px 24px;
    width: 100%;
    background-color: #282828;
    border-radius: 4px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: s.space(8);
}

.text__item {
    font-size: s.space(6);
    color: s.color('lightWhite');
    align-self: center;
}

.list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    gap: s.space(6);
}

.name {
    font-size: 24px;
    color: white;
}

.author {
    font-size: 16px;
    color: #BABABA;
}

.add {
    &:hover {
        opacity: 0.7;
        transition-duration: 0.7s;
    }
    &:focus {
        opacity: 0.7;
        transition-duration: 0.7s;
    }
}